@function rem($size) {
  @return $size / 16px * 1rem;
}
table{
    width: 100%;
}
tbody {
  display: block;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  color: #f1f1f1;

  tr {
    margin-bottom: 1rem;
    .coin-img {
      width: 2rem;
      border-radius: 50%;
    }
    .coin-name {
      text-transform: capitalize;
    }
    .coin-symbol {
      text-transform: uppercase;
    }
  }
}
